@import '../../styles/index.scss';

.leftSideMenu {
  width: $leftbar-width;
  z-index: 10;
  bottom: 0;
  position: fixed;
  transition: all 0.2s ease-out;
  top: 0;
  padding-top: $topbar-height;
  box-shadow: $shadow;
}

.appName {
  font-weight: $font-weight-bold;
  font-size: 18px;
  width: 100%;
  transform: translateX(-24px);
  color: $white;
}

.simpleNavbar {
  max-height: '100%';
}

.logoLgWrapper {
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  img {
    padding-left: 16px;
    text-align: left;
  }
}
