@import '../../styles/index.scss';

.appMenu {
  position: fixed;
  :global(.metismenu) {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
    }

    ul {
      padding: 0;
    }

    :global(.mm-collapse):not(.mm-show) {
      display: none;
    }

    :global(.mm-collapsing) {
      position: relative;
      height: 0;
      overflow: hidden;
      transition-timing-function: ease;
      transition-duration: 0.35s;
      transition-property: height, visibility;
    }
    :global(.has-arrow) {
      &:after {
        width: 0.45em;
        height: 0.45em;
        right: 2em;
        border-width: 0 1px 1px 0;
      }
    }

    :global(.mm-active > .has-arrow::after, .has-arrow[aria-expanded='true']::after) {
      transform: rotate(45deg) translate(0, -50%);
    }
  }

  :global(.side-nav) {
    :global(.side-nav-link) {
      color: $menu-item;
      display: block;
      padding: 10px 30px;
      font-size: 0.9375rem;
      position: relative;
      transition: all 0.4s;
      &:hover,
      &:focus,
      &:active {
        color: $menu-item-hover;
        text-decoration: none;
      }

      span {
        vertical-align: middle;
      }

      i {
        display: inline-block;
        line-height: 1.0625rem;
        margin: 0 10px 0 0;
        font-size: 1.1rem;
        vertical-align: middle;
      }
    }

    :global(.menu-arrow) {
      transition: transform 0.15s;
      position: absolute;
      right: 30px;
      display: inline-block;
      font-family: 'Material Design Icons';
      text-rendering: auto;
      line-height: 1.5rem;
      font-size: 1.1rem;
      transform: translate(0, 0);
      &:before {
        content: '\F142';
      }
    }

    :global(.badge) {
      margin-top: 3px;
    }

    :global(.side-nav-item) {
      &.mm-active {
        > a {
          .menu-arrow {
            transform: rotate(90deg);
          }
        }
      }
    }

    :global(.side-nav-title) {
      padding: 12px 30px;
      letter-spacing: 0.05em;
      pointer-events: none;
      cursor: default;
      font-size: 0.6875rem;
      text-transform: uppercase;
      color: $menu-item;
      font-weight: $font-weight-bold;
    }

    :global(.mm-active) {
      > a {
        color: $menu-item-active !important;
      }
    }
  }
}
