@import '../../../../styles/variables';

.dropdown {
  min-height: 70px;
  display: flex;
  align-items: center;
}

.dropdownToggle {
  display: flex !important;
  white-space: nowrap;
  align-items: center;
  padding: 4px 8px !important;
  min-height: unset !important;
  border-right-width: 0px;
  border-left-width: 0px;
}

.accountUserAvatar {
  position: unset !important;
  margin-right: 8px;
}

.iconWrapper {
  display: block;
  height: 100%;
}

.icon {
  margin-left: 8px;
  width: 12px;
  height: 12px;
  &::before {
    font-size: 12px;
  }
}

.dropdownMenu {
  margin-top: 12px;
}

.dropdownItem {
  padding: 8px 16px !important;
  color: $gray700;
}

.dropdownItem:hover {
  background-color: $gray200;
}

.logout {
  color: $danger;
}

.iconStyle {
  font-size: 24px;
}
