@import '../../styles/index.scss';

.label {
  position: relative;
  display: block;
  margin-bottom: 8px;
}

.strong {
  font-weight: bold;
}

.inline {
  display: inline-block;
}

.strikeThrough {
  text-decoration: line-through;
}

.requiredSymbol {
  color: $danger;
}
