@import '../../../../../../styles/variables';

.dropdownModule {
  width: 100% !important;
}

.dropdownItem {
  padding: 8px 16px;
  color: $gray700;
}

.dropdownItem:hover {
  background-color: $gray200;
}

.dropdownItemActive {
  background-color: white;
}

.iconStyle {
  font-size: 24px;
}

.unselected {
  padding-left: 20px;
}

.iconCheck {
  font-size: 16px;
}
