@import '../../../../../styles/variables';

.rowMarginBottom {
  margin-bottom: 2.5rem;
}

.inputLeftCol {
  padding: 0rem 0.75rem 0rem 0rem;
  color: $gray800 !important;
  font: $paragraph !important;
}

.inputCustom {
  padding: 0.5rem 0.75rem;
  border: 1px solid $gray300;
  border-radius: 0.25rem;
}

.customCombobox {
  padding: 0rem 0.75rem;
  border: 1px solid $gray300;
  border-radius: 0.25rem;

  select {
    padding: 0.5rem 0rem;
  }
}

.labelCustom {
  color: $gray800 !important;
  font: $paragraph !important;
}
