// Colors
$white: #ffffff;

$text: #74708d;
$text-lighten: #c0bdd0;
$text-darken: #615d7c;
$text-darken-more: #514d6a;

$gray: #d2d9e5;
$gray-lighten: #eef0f4;
$gray-lighten-more: #f2f4f8;
$gray-border: #e4e9f0;

$black: #0e0b20;
$black-lighten: #222034;
$black-lighten-more: #393749;

$blue: #0088ff;
$blue-darken: #0072d6;
$orange: #f2a654;
$yellow: yellow;

// Accent colors
$default: #acb7bf;
$primary: #0190fe;
$secondary: #6a7a84;
$success: #46be8a;
$info: #0887c9;
$warning: #f39834;
$danger: #fb434a;

// Loading colors
$blue-loading: #0b80b2;
$red-loading: #fb328d;
$background-loading: rgb(204, 204, 204);

// Font Family
$base__font-family: 'PT Sans', sans-serif;

// Font Size
$base__font-size: 14;

// Responsive utils
$xxl-min-width: 1600px;
$xxl-max-width: 1599px;
$xl-min-width: 1200px;
$xl-max-width: 1199px;
$md-min-width: 992px;
$md-max-width: 991px;
$sm-min-width: 768px;
$sm-max-width: 767px;
$xs-min-width: 544px;
$xs-max-width: 543px;

/* Colors: */
$background-layout: #fafbfe;
$gray-darken: #98a6ad;
$gray-lighten: #eef2f7;
$gray-darken-more: #6c757d;

$color-0bcf97: #0bcf97;
$color-323a46: #323a46;
$-e6e6e6-disabled: #e6e6e6;
$-c1c8d0-form-outline: #c1c8d0;
$d-313a46-default-text: #313a46;
$color-eef2f7: #eef2f7;
$color-343a40: #343a40;
$color-39afd1: #39afd1;
$color-02a8b5: #02a8b5;
$color-0acf97: #0acf97;
$color-ffbc00: #ffbc00;
$color-fd7e14: #fd7e14;
$color-fa5c7c: #fa5c7c;
$color-ff679b: #ff679b;
$color-6b5eae: #6b5eae;
$color-727cf5: #727cf5;
$color-2c8ef8: #2c8ef8;

/* Font/text values */
$font-family-nunito: Nunito;
$font-style-normal: normal;
$font-weight-bold: bold;
$font-size-18: 18px;
$character-spacing-0: 0px;
$line-spacing-24: 24px;

/* Character Styles */
.h4-nunito-â€”-18pt {
  font-family: var(--font-family-nunito);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-18);
  line-height: var(--line-spacing-24);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-98a6ad);
}
