.wrapper {
  margin-bottom: 10px;
  & > button {
    width: 100%;
    background-color: #222933;
    color: white;
  }
  & > button:focus,
  button:hover,
  button:active {
    background-color: #222933 !important;
    color: white !important;
    border: none !important;
    box-shadow: none !important;
  }
}
