@import '../../styles/index.scss';

.hfTextField {
  &:global(.form-control-light) {
    background-color: $gray100 !important;
    border-color: $gray100 !important;
  }

  resize: none;
}

.errorWrapper {
  border: 1px solid map-get($custom-colors, 'alert-red') !important;
}
