// Transitions
.transition-fast {
  transition: all 0.05s ease-in-out;
}
.transition-middle {
  transition: all 0.1s ease-in-out;
}
.transition-slow {
  transition: all 0.2s ease-in-out;
}
.transition-very-slow {
  transition: all 0.4s ease-in-out;
}
.transition-color {
  transition: color 0.2s ease-in-out;
}
