@font-face {
  font-family: 'normal';
  font-style: normal;
  font-weight: 400;
  src: url('../../Assets/Font/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'bold';
  font-weight: 700;
  src: url('../../Assets/Font/Nunito-Bold.ttf');
}

@font-face {
  font-family: 'semi-bold';
  font-weight: 600;
  src: url('../../Assets/Font/Nunito-SemiBold.ttf');
}
