@import '../../../../styles/variables';

.checkCircleIcon {
  margin-bottom: 1rem;
  &::before {
    font-size: 40px;
    color: $success;
  }
}

.continueButton {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: $white;
}
